/* Define mixins */
@mixin embed_badge {
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 2px 3px #000;
  text-shadow: 0px 2px 3px #000;
  margin-top: 10px;
  font-weight: normal;
  padding: 5px;
  margin-left: 10px;
  color: #fff;
  opacity: 0.7;
}

@mixin text_shadow {
  text-shadow: 0px 2px 3px #000;
}


body {
  margin-top: 60px;
}

#homepage_banner {
  h1 {
    font-size: 40px;
    color: #fff;
    text-shadow: 0px 2px 3px #000;
  }

  p {
    color: #f0f0f0;
    text-shadow: 0px 2px 3px #000;
  }

  .btn-large {
    font-size: 40px;
  }

  .hero-unit {

  }
}

.pull-center {
  text-align: center;
}

.food-menu-list {
  .thumbnails {
    .width_260 {
      width: 260px;
    }

    .thumbnail {
      padding: 0;
      height: 350px;
      box-shadow: 0 2px 3px #ccc;

      img {
        height: 180px;
      }

      & >.badge {
        @include embed_badge;
      }

      p {
        height: 55px;
      }

      .form-inline {
        position: relative;
        bottom: 0;

        .price {
          font-size: 18px;
        }

        .input-small {
          width: 50px;
        }
      }
    }
  }
}

.food-menu-side-list {
  .thumbnails .thumbnail > .badge {
    @include embed_badge
  }
}

#menu .tabbable {
  margin-left: 0;
}

.food-menu-small-list {
  .well {
    padding: 5px;
  }

  .price {
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
    color: #888;
  }

  .input-small {
    width: 30px;
    margin-right: 10px;
  }

}

.checkout-items {
  font-size: 120%;

  tr {
    td {
      vertical-align: middle;
    }

    .quantity {
      width: 60px;
      text-align: right;
      font-size: 120%;

      input {
        text-align: right;
        font-size: 120%;
      }
    }

    .multiply {
      font-size: 120%;
      width: 20px;
      text-align: center;
      font-weight: bold;
      color: #888;
    }

    .price {
      text-align: right;
      width: 70px;
      font-weight: bold;
    }
  }

  .total-cost {
    .price-head {
      text-align: right;
      border-top: 2px solid red;
    }

    .price {
      text-align: right;
      border-top: 2px solid red;
    }
  }

  .total-sum td {
    border-top: 2px solid #ccc;
  }

  tfoot.highlight {
    background: lightYellow;
  }

  .other-cost {
    .quantity {
      font-size: 90%;
    }
  }
}

.food-menu-side-list {
  .thumbnails {
    margin-left: 0;

    .thumbnail {
      width: 230px;
      margin-bottom: 5px;

      p {
        display: none;
      }

      .well {
        padding: 3px;
        text-align: center;

        .btn {
          margin-top: 5px;
        }
      }

      .form-inline .input-small {
        width: 40px;
      }
    }

  }
}

.drop-shadow {
  box-shadow: 0px 0px 5px #fff;
}

.navbar .top-notice {
  margin: 0;
  font-size: 120%;
  text-align: center;
  border-radius: 0;
}

.thumbnail {
  .box-add-to-cart {
    position: absolute;
    margin-top: -190px;
    margin-left: 10px;
    background: transparent;
    color: #fff;
    width: 620px;

    .form-inline {
      background: #f0f0f0;
      color: #000;
      padding: 10px;
      width: 200px;
      text-align: center;
      border: 5px solid #000;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 100px;
      box-shadow: 2px 2px 20px #000;

      .quantity {
        border: 2px solid #000;
        margin-bottom: 10px;
      }

      .price {
        font-size: 300%;
      }
    }
  }
}

.tools-nav {
  background: #f0f0f0;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  box-shadow: 1px 1px 20px #aaa;
  border: 1px solid #bababa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;

  ul {
    .nav-header {
      margin-right: 10px;
    }

    .prep-time {
      margin-top: 3px;
      font-weight: bold;
    }

    li {
      float: left;
      margin-right: 10px;

      a {
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.overflow-image {
  img {
    margin-top: 10px;
    margin-left: -10px;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 3px;
  }
}

.related-photos, .related-items {
  .thumbnails {
    margin-left: 0;

    li {
      float: left;
      width: 100px;
      height: 70px;
      margin-left: 5px;

      .thumbnail {
        border: 0;
        box-shadow: 1px 1px 10px #aaa;

        img {
          width: 100px;
          height: 70px;
        };
      }
    }
  }
}

.related-items {
  .thumbnails {
    li {
      height: 100px;

      .thumbnail {
        background: #000;

        .caption {
          font-size: 80%;
          padding: 3px;
          color: #fff;
        }

        .price {
          position: absolute;
          margin-top: -30px;
          margin-left: 5px;
          color: #fff;
          font-size: 200%;
          @include text_shadow;
        }
      }
    }
  }
}

.tags {
  .label {
    margin-right: 5px;
    a {
      color: #fff;
    }
  }
}

#special_offers {
  .thumbnail {
    background: #000;
  }
}