.page-header
  %h3 Your Plate (5)
%form
  .well
    %h4
      %a{:href => "#"}
        Chicken Sandwich
    %p
    %div
      %span.price.pull-left 10$ x
      %input.pull-left.input-small{:type => "number", :value => "1"}/
      %a.btn.btn-small.btn-danger{:href => "#"}
        %i.icon-remove.icon-white
    .clearfix
  .well
    %h4
      %a{:href => "#"}
        Chicken Sandwich
    %p
    %div
      %span.price.pull-left 10$ x
      %input.pull-left.input-small{:type => "number", :value => "1"}/
      %a.btn.btn-small.btn-danger{:href => "#"}
        %i.icon-remove.icon-white
    .clearfix
  .well
    %h4
      %a{:href => "#"}
        Chicken Sandwich
    %p
    %div
      %span.price.pull-left 10$ x
      %input.pull-left.input-small{:type => "number", :value => "1"}/
      %a.btn.btn-small.btn-danger{:href => "#"}
        %i.icon-remove.icon-white
    .clearfix
  %hr/
  .alert.alert-block.alert-info.fade.in
    %p
      %h3.pull-right
        %strong Total:
        $100

    .clearfix

  %a.btn.btn-primary.pull-right{:href => "checkout.html"}
    %i.icon-shopping-cart.icon-white
    Quick Checkout