!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Trade Express Deli - Admin
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "IDEABase production", :name => "author"}/

    = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', 'admin'

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}/
  %body
    .container-fluid
      = partial 'layouts/admin/top_navigation'
      .row-fluid.body
        .span12= yield

    .footer-container.container-fluid
      %footer.footer.well
        %section#footer
          %strong Powered by
          WellTreat.Us Engine
        .clearfix
    / Dependent Javascripts
    = javascript_include_tag 'jquery', 'bootstrap-transition.',
                             'bootstrap-alert', 'bootstrap-modal',
                             'bootstrap-dropdown', 'bootstrap-scrollspy.js',
                             'bootstrap-tab.js', 'bootstrap-tooltip.js',
                             'bootstrap-popover.js', 'bootstrap-button.js',
                             'bootstrap-collapse.js', 'bootstrap-carousel.js',
                             'bootstrap-typeahead.js', 'application.js'
